server {
    listen       ${NGINX_PORT} ssl;
    server_name  ${NGINX_HOST};
    location / {
        root   /app;
        index  index.html index.htm;
    }
    ssl_certificate         ${NGINX_CRT};
    ssl_certificate_key     ${NGINX_KEY};
}
