---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  {{- if eq .Values.service.type "NodePort" }}
  type: NodePort
  {{- end }}
  selector:
    app: frontend
  ports:
  - name: http
    {{- if eq .Values.service.type "NodePort" }}
    nodePort: {{ .Values.service.NodePort }}
    {{- end }}
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
